@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

<h1> Dull, Boring and Bland Games </h1>
@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-md-12" align="center">
            <h2>
                <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <a class="col-md-6 text-center" asp-controller="Game" asp-action="SearchGames">Find a game</a>
        <a class="col-md-6 text-center" asp-controller="Game" asp-action="OwnGames">View @UserManager.GetUserName(User)'s Games</a>
    </div>
}
else
{
    <hr />
    <div class="row">
        <div class="col-md-6">
            <a class="text-center" asp-controller="Account" asp-action="Register">Register</a>
        </div>
        <div class="col-md-6">
            <a class="text-center" asp-controller="Account" asp-action="Login">Log in</a>
        </div>
    </div>
}
